body {
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #FFFFF9;
    position:absolute;
    height:250px;
    width:400px;
    }
  
  h1 {
      font-family: "Inter", sans-serif;
      text-align: center;
      font-size:20px;
      font-weight: bold;
  }
  
  h2 {
      font-family: "Inter", sans-serif;
      text-align: center;
      font-size:13px;
      font-weight: bold;
  }
  
  h3 {
      font-family: "Inter", sans-serif;
      text-align: center;
      font-size: 10px;
      font-weight: normal;
  }
  
  p {
      font-family: "Inter", sans-serif;
      text-align: center;
      font-weight: normal;
      font-size: 9px;
  }
  
  .menu-button {
    background-color: #f2b639;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: "Inter", sans-serif;
    text-align: center;
    border-radius: 10px;
    font-weight: bold;
    color: white;
    margin-top: 10px;
  }
  
  .menu-button:hover, menu-button:active {
    background-color: #ec7b31;
    color: white;
  }
  
  table {
    padding-bottom:10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 390px;
    border-collapse: collapse;
    margin-left:auto;
    margin-right:auto;
    background-color: rgba(143, 170, 59, 0.1);
    table-layout: fixed;
  }
  
  th {
      background-color: #8faa3b;
      font-weight: bold;
      color: white;
  }
  
  td {
      border: 1px solid rgb(187, 204, 183, 0.3);
  }
  
  .logo{
      widht: 240px;
      height: 60px;
      margin-bottom: 0px;
      margin-top: -30px;
  }
  
  a{
      font-family: "Inter", sans-serif;
      text-align: center;
      font-size: 15px;
      color: black;
      font-weight: bold;
      text-decoration: none;
  }
  
  a:hover, a:active {
      text-decoration: underline;
      color: #328e4e;
      background: none;
  }
  
  