<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    
  </head>
  <body>

<h1>Classes:</h1>

<table>
  <thead>
  <tr>
    <th><h2>Activity</h2></th>
    <th><h2>When</h2></th>
    <th><h2>Location</h2></th>
    <th><h2>Details</h2></th>
  </tr>
  </thead>

  <tbody>

 <tr>
    {% if result.0.lessons %}
  <table>
    <tr>
      <td colspan="4"><h2>{{ result.0.date|date:"M d, Y" }}</h2></td>
    </tr>
    {% for lesson in result.0.lessons %}
    <tr>
      <td><h3>{{ lesson.title }}</h3></td>
      <td><h3>{{ lesson.time|date:"H:i"}}</h3></td>
      <td><h3><a href="{{ lesson.link }}">Click to join</a></h3></td>
      <td> <a href="{% url 'lesson_details' lesson.id %}">Details</a></td>
    </tr>
    {% endfor %}
  </table>
  {% endif %}

 <tr>
    {% if result.1.lessons %}
  <table>
    <tr>
      <td colspan="4"><h2>{{ result.1.date|date:"M d, Y" }}</h2></td>
    </tr>
    {% for lesson in result.1.lessons %}
    <tr>
      <td><h3>{{ lesson.title }}</h3></td>
      <td><h3>{{ lesson.time|date:"H:i"}}</h3></td>
      <td><h3><a href="{{ lesson.link }}">Click to join</a></h3></td>
      <td> <a href="{% url 'lesson_details' lesson.id %}">Details</a></td>
    </tr>
    {% endfor %}
  </table>
  {% endif %}

  <tr>
    {% if result.2.lessons %}
  <table>
    <tr>
      <td colspan="4"><h2>{{ result.2.date|date:"M d, Y" }}</h2></td>
    </tr>
    {% for lesson in result.2.lessons %}
    <tr>
      <td><h3>{{ lesson.title }}</h3></td>
      <td><h3>{{ lesson.time|date:"H:i"}}</h3></td>
      <td><h3><a href="{{ lesson.link }}">Click to join</a></h3></td>
      <td> <a href="{% url 'lesson_details' lesson.id %}">Details</a></td>
    </tr>
    {% endfor %}
  </table>
  {% endif %}

  <tr>
    {% if result.3.lessons %}
  <table>
    <tr>
      <td colspan="4"><h2>{{ result.3.date|date:"M d, Y" }}</h2></td>
    </tr>
    {% for lesson in result.3.lessons %}
    <tr>
      <td><h3>{{ lesson.title }}</h3></td>
      <td><h3>{{ lesson.time|date:"H:i"}}</h3></td>
      <td><h3><a href="{{ lesson.link }}">Click to join</a></h3></td>
      <td> <a href="{% url 'lesson_details' lesson.id %}">Details</a></td>
    </tr>
    {% endfor %}
  </table>
  {% endif %}

  <tr>
    {% if result.4.lessons %}
  <table>
    <tr>
      <td colspan="4"><h2>{{ result.4.date|date:"M d, Y" }}</h2></td>
    </tr>
    {% for lesson in result.4.lessons %}
    <tr>
      <td><h3>{{ lesson.title }}</h3></td>
      <td><h3>{{ lesson.time|date:"H:i"}}</h3></td>
      <td><h3><a href="{{ lesson.link }}">Click to join</a></h3></td>
      <td> <a href="{% url 'lesson_details' lesson.id %}">Details</a></td>
    </tr>
    {% endfor %}
  </table>
  {% endif %}

  <tr>
    {% if result.5.lessons %}
  <table>
    <tr>
      <td colspan="4"><h2>{{ result.5.date|date:"M d, Y" }}</h2></td>
    </tr>
    {% for lesson in result.5.lessons %}
    <tr>
      <td><h3>{{ lesson.title }}</h3></td>
      <td><h3>{{ lesson.time|date:"H:i"}}</h3></td>
      <td><h3><a href="{{ lesson.link }}">Click to join</a></h3></td>
      <td> <a href="{% url 'lesson_details' lesson.id %}">Details</a></td>
    </tr>
    {% endfor %}
  </table>
  {% endif %}

  <tr>
    {% if result.6.lessons %}
  <table>
    <tr>
      <td colspan="4"><h2>{{ result.6.date|date:"M d, Y" }}</h2></td>
    </tr>
    {% for lesson in result.6.lessons %}
    <tr>
      <td><h3>{{ lesson.title }}</h3></td>
      <td><h3>{{ lesson.time|date:"H:i"}}</h3></td>
      <td><h3><a href="{{ lesson.link }}">Click to join</a></h3></td>
      <td> <a href="{% url 'lesson_details' lesson.id %}">Details</a></td>
    </tr>
    {% endfor %}
  </table>
  {% endif %}

</tbody>
</table>

</body>

{% endblock %}
